html,
body {
  height: 100%;
}
body {
  margin: 40px 0 0 0;
  padding: 0;
  font-size: 18px;
  min-width: 320px;
  color: white;
  line-height: 1.4;
  font-family: Helvetica, Arial, sans-serif;
}
p {
  margin: 20px 0 0;
}
a {
  text-decoration: none;
  color: #59a62c;
}
a:hover {
  text-decoration: none;
}
h1,
h2 {
  color: #4C4C4A;
  font-family: Helvetica, Arial, sans-serif;
  margin-bottom: 15px;
}
/* Slides */
#slide1 {
  background-color: #c9ffaa;
  background: -webkit-gradient(linear, left top, left bottom, from(#c9ffaa), to(#b9ff90));
  background: -webkit-linear-gradient(top, #c9ffaa, #b9ff90);
  background: -moz-linear-gradient(top, #c9ffaa, #b9ff90);
  background: -ms-linear-gradient(top, #c9ffaa, #b9ff90);
  background: -o-linear-gradient(top, #c9ffaa, #b9ff90);
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Center fix for IE11 */
  -ms-flex-pack: center;
  min-height: 100%;
  height: 100%;
}
#slide1 .content {
  margin: inherit;
}
#slide1 .content h1 {
  text-align: center;
  line-height: 200px;
}
#slide1 .content h1 img {
  position: relative;
  top: 50px;
  width: 820px;
  height: 136px;
}
#slide1 .content p.payoff {
  text-align: center;
  font-size: 26px;
  color: #4C4C4A;
}
@media screen and (max-width: 620px) {
  #slide1 .content {
    margin: -30px 25px 25px;
  }
  #slide1 .content h1 {
    line-height: inherit;
    padding: 0 20px;
  }
  #slide1 .content h1 img {
    top: 0;
    width: 320px;
  }
  #slide1 .content p.payoff {
    font-size: 20px;
  }
}
#slide2 {
  background-color: #59a62c;
  background: -webkit-gradient(linear, left top, left bottom, from(#59a62c), to(#2e5517));
  background: -webkit-linear-gradient(top, #59a62c, #2e5517);
  background: -moz-linear-gradient(top, #59a62c, #2e5517);
  background: -ms-linear-gradient(top, #59a62c, #2e5517);
  background: -o-linear-gradient(top, #59a62c, #2e5517);
}
#slide3 {
  background-color: #580659;
  background: -webkit-gradient(linear, left top, left bottom, from(#580659), to(#110111));
  background: -webkit-linear-gradient(top, #580659, #110111);
  background: -moz-linear-gradient(top, #580659, #110111);
  background: -ms-linear-gradient(top, #580659, #110111);
  background: -o-linear-gradient(top, #580659, #110111);
}
article.content {
  max-width: 1000px;
  margin: 7% auto;
  text-align: left;
}
@media screen and (max-width: 620px) {
  article.content {
    margin: 25px;
    padding: 1px;
  }
}
nav {
  position: fixed;
  z-index: 10;
  top: -40px;
  left: 0;
  height: 40px;
  background-color: white;
  width: 100%;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
nav ul {
  width: 235px;
  margin: 0 auto;
  padding: 0;
  line-height: 0;
  white-space: nowrap;
}
nav li {
  display: inline-block;
}
nav li a {
  line-height: 40px;
  display: block;
  padding: 0 10px;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
nav li a:target,
nav li a:active,
nav li a:hover {
  background-color: #59a62c;
  color: white;
}
@media screen and (max-width: 520px) {
  nav li a {
    padding: 0 5px;
  }
}
nav .sz-nav-handle {
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
  text-transform: uppercase;
}
@media screen and (max-width: 960px) {
  nav ul li {
    padding: 10px 0;
    background-color: #222222;
    border-bottom: 1px solid #161616;
  }
}
